
<form method="post" enctype="multipart/form-data" action="/Book/Upload">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="cover" multiple />
    </div>
    <div>
        <p>Your Username</p>
        <input type="text" name="name" />
    </div>
    <div>
         <input type="submit" value="Upload" />
    </div>
</form>