@using _netmvc.Models

<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div>
            @ViewBag.Book.id
        </div>
        <div>
            @ViewBag.Book.name
        </div>

    </body>
</html>